/* This is main CSS for site. Using Normalize.css to normalize betweem browsers and deafault it out */
body {
    background: linear-gradient(45deg, rgb(152, 145, 193), #0C0A5B) ;
}
/* Header */
header {
    position: relative;
    text-align: center;
    background-color:#FF4D00;
}

header img {
    height: 300px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#site-title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Alien Space', 'Orbitron';
    font-weight: 400;
    font-size: 5vw;
    color: #FF4D00;
    text-shadow: 6px 6px 6px rgba(32, 27, 242, 0.35);
    z-index: 1;
}

.header-image-source {
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px;
    font-size: 12px;
}

/* Navbar */
nav {
    box-sizing: border-box;

    position: absolute;
    height: 50px;
    left: 0px;
    right: 0px;
    top: 303px;

    background: #FF4D00;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login {
    position: absolute;
    width: 105px;
    height: 50px;
    right: 0px;
    top: 0px;
    background: #545458;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.login:hover {
    background: #38FD06;
}

.login p {
    position: absolute;
    left: 16%;
    right: 16%;
    top: 5%;
    bottom: 16%;

    font-family: 'Alien Space';
    font-weight: 400;
    font-size: 22px;
    line-height: 21px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #38FD06;
    text-shadow: 6px 6px 6px rgba(32, 27, 242, 0.35);
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.login p:hover {
    color: #545458;
}

.navbar ul {
    float: left;
    padding: 0;
    list-style: none;
}

.navbar li {
    display: inline-block;
    margin-left: 70px;
    position: relative;
}

.navbar a {
    font-family: 'Alien Space';
    font-weight: 400;
    font-size: 22px;
    line-height: 16px;
    color: #0C0A5B;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.25vh;

    display: flex;
    align-items: center;
    text-align: center;
    
    text-shadow: 6px 6px 6px rgba(32, 27, 242, 0.35);
    cursor: pointer;
    transition: all 200ms ease-in-out;
    position: relative;
}

.navbar a:hover {
    color: #38FD06;
}

nav a::after {
    content: '';
    display: block;
    height: 5px;
    background-color: rgb(32, 27, 242);

    position: absolute;
    top: -20px;
    width: 0%;

    transition: all 250ms ease-in-out;
}

nav a:hover::after {
    width: 100%
}