/* This is main CSS for site. Using Normalize.css to normalize betweem browsers and deafault it out */
/* Body */
body {
    background-color: #0C0A5B;
}

/* Header */
header {
    position: relative;
    text-align: center;
    background-color:#FF4D00;
}

header img {
    height: 300px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#site-title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Alien Space', 'Orbitron';
    font-weight: 400;
    font-size: 5vw;
    color: #FF4D00;
    text-shadow: 6px 6px 6px rgba(32, 27, 242, 0.35);
    z-index: 1;
}

.header-image-source {
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px;
    font-size: 12px;
}

/* Navbar */
nav {
    box-sizing: border-box;

    position: absolute;
    height: 50px;
    left: 0px;
    right: 0px;
    top: 303px;

    background: #FF4D00;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login {
    position: absolute;
    width: 105px;
    height: 50px;
    right: 0px;
    top: 0px;
    background: #545458;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.login:hover {
    background: #38FD06;
}

.login p {
    position: absolute;
    left: 16%;
    right: 16%;
    top: 5%;
    bottom: 16%;

    font-family: 'Alien Space';
    font-weight: 400;
    font-size: 22px;
    line-height: 21px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #38FD06;
    text-shadow: 6px 6px 6px rgba(32, 27, 242, 0.35);
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.login p:hover {
    color: #545458;
}

.navbar ul {
    float: left;
    padding: 0;
    list-style: none;
}

.navbar li {
    display: inline-block;
    margin-left: 70px;
    position: relative;
}

.navbar a {
    font-family: 'Alien Space';
    font-weight: 400;
    font-size: 22px;
    line-height: 16px;
    color: #0C0A5B;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.25vh;

    display: flex;
    align-items: center;
    text-align: center;
    
    text-shadow: 6px 6px 6px rgba(32, 27, 242, 0.35);
    cursor: pointer;
    transition: all 200ms ease-in-out;
    position: relative;
}

.navbar a:hover {
    color: #38FD06;
}

nav a::after {
    content: '';
    display: block;
    height: 5px;
    background-color: rgb(32, 27, 242);

    position: absolute;
    top: -20px;
    width: 0%;

    transition: all 250ms ease-in-out;
}

nav a:hover::after {
    width: 100%
}

/* Welcome Card */
.welcome-card {
    position: absolute;
    height: 200px;
    left: 0;
    right: 0;
    top: 392px;

    background: #28282C;
}

.welcome-card p {
    position: absolute;
    height: 127px;
    left: 190px;
    right: 190px;
    top: 23px;

    font-family: 'Orbitron';
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #38FD06;
}

/* Space Image Card */

.space-image-card {
    position: absolute;
    height: 1092px;
    left: 400px;
    right: 400px;
    top: 684px;

    background: #28282C;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.35);
    border-radius: 15px;
}

.space-image {
    position: absolute;
    width: 860px;
    height: 656px;
    left: calc(50% - 860px/2 + 1px);
    top: 96px;
}

.space-image-title {
    position: absolute;
    height: 30px;
    left: 108px;
    right: 108px;
    top: 781px;

    font-family: 'Orbitron';
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;

    color: #38FD06;
}

.space-image-date {
    position: absolute;
    height: 30px;
    left: 108px;
    right: 108px;
    top: 840px;

    font-family: 'Orbitron';
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;

    color: #38FD06;
}

.space-image-url {
    position: absolute;
    height: 30px;
    left: 108px;
    right: 108px;
    top: 900px;

    font-family: 'Orbitron';
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;

    color: #38FD06;
}

.random-image-button {
    position: absolute;
    width: 182px;
    height: 67px;
    left: calc(50% - 192px/2);
    top: 993px;

    background: #545458;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Orbitron';
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;

    color: #38FD06;
}

/* My Favorites Section */ 

#favorites-title {
    position: absolute;
    width: 500px;
    height: 60px;
    left: 180px;
    top: 1900px;

    font-family: 'Alien Space';
    font-weight: 400;
    font-size: 62px;
    line-height: 60px;
    display: flex;
    align-items: center;

    color: #38FD06;
    text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
}

.fave-image-card {
    display: flex;
    flex-basis: content;
    flex-direction: column;
    gap: 10px;
    background: #545458;
    border: 1px solid #000;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
}

.fave-image-card img {
    width: 600px;
    height: 400px;
    border-radius: 15px;
}

.fave-image-card p {
    font-family: 'Orbitron';
    font-weight: 700;
    font-size: 16px;
    line-height: 5px;
    display: flex;
    align-items: center;
    color: #38FD06;
}

.fave-image-title,
.fave-image-date,
.fave-image-rating,
.fave-image-notes,
.fave-image-url {
    position: relative;
    top: 5px;
}

.delete-btn {
    width: 192px;
    height: 42px;
    left: calc(50% - 192px/2 + 115px);

    background:#28282C;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Orbitron';
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    align-items: center;

    color: #38FD06;
}

.favorite-image-scroller {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 2025px;

    display: grid;
    gap: 15px;
    padding: 30px 20px;
    grid-auto-flow: column;
    grid-auto-columns: 34%;
    scroll-snap-type: mandatory;
    scroll-padding: 30px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;

    background: #28282C;
}

/* Form */

#title-for-form {
    position: absolute;
    width: 645px;
    height: 59px;
    left: 180px;
    top: 2900px;

    font-family: 'Alien Space';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 59px;
    display: flex;
    align-items: center;

    color: #38FD06;

    text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
}

#add-favorites-form {
    position: absolute;
    width: 640px;
    height: 603px;
    left: 180px;
    top: 3025px;

    background: #28282C;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

#form-title {
    position: absolute;
    width: 422px;
    height: 43px;
    left: 109px;
    top: 37px;

    box-shadow: inset 6px 6px 4px rgba(0, 0, 0, 0.25);
}

#form-date {
    position: absolute;
    width: 422px;
    height: 43px;
    left: 109px;
    top: 116px;

    box-shadow: inset 6px 6px 4px rgba(0, 0, 0, 0.25);
}

#form-url {
    position: absolute;
    width: 422px;
    height: 43px;
    left: 109px;
    top: 195px;

    box-shadow: inset 6px 6px 4px rgba(0, 0, 0, 0.25);
}

#form-rating {
    position: absolute;
    width: 422px;
    height: 43px;
    left: 109px;
    top: 274px;

    box-shadow: inset 6px 6px 4px rgba(0, 0, 0, 0.25);
}

#form-notes {
    position: absolute;
    width: 422px;
    height: 136px;
    left: 109px;
    top: 355px;

    box-shadow: inset 6px 6px 4px rgba(0, 0, 0, 0.25);
}

#form-title::placeholder,
#form-date::placeholder,
#form-url::placeholder,
#form-rating::placeholder,
#form-notes::placeholder {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    
}

#form-submit-btn {
    position: absolute;
    width: 192px;
    height: 67px;
    left: calc(50% - 192px/2 + 115px);
    top: 515px;

    background: #545458;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Orbitron';
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    align-items: center;

    color: #38FD06;
}

/* Footer */
footer {
    position: absolute;
    height: 100px;
    left: 0px;
    right: 0px;
    top: 3776px;

    background: #545458;
}